<!DOCTYPE html>
<html>
  <head>
    <title>Welcome! - Mad Libs</title>
    <link rel="stylesheet" type="text/css" href="~/css/HomeStyles.css" />
  </head>
  <body>
    <h1>Awesome <img src="~/img/madlib.png" width="10%"/> Maker!</h1>
    <p>Hello there! Please choose a Mad Lib from the list below.</p>
    <div class="slide-in-right">
      <a href="/story1form"><button>Story 1</button></a>
      
      <a href="/story2form"><button>Story 2</button></a>
    </div>
  </body>
</html>