<!DOCTYPE html>
<html>
  <head>
    <title>Welcome! - Mad Libs</title>
    <link rel="stylesheet" type="text/css" href="~/css/HomeStyles.css" />
  </head>
  <body>
    <h1>Awesome Mad Lib Maker!</h1>
    <p>Hello there! Please choose a Mad Lib from the list below.</p>
    <div>
      <button><a href="/story1form">Story 1</a></button>
      <br />
      <button><a href="/story2form">Story 2</a></button>
    </div>
  </body>
</html>